.category-box-layout1 {
	background-color: #ffffff;
	margin-bottom: 3rem;
	position: relative;
}

.category-box-layout1:after {
	opacity: 0.8;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111), to(transparent));
	background-image: -webkit-linear-gradient(transparent, #111);
	background-image: -moz-linear-gradient(transparent, #111), -moz-linear-gradient(transparent, #111);
	background-image: -o-linear-gradient(transparent, #111), -o-linear-gradient(transparent, #111);
	background-image: linear-gradient(transparent, #111), linear-gradient(transparent, #111);
	content: "";
	height: 80%;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.category-box-layout1 .item-figure {
	margin-bottom: 0;
	overflow: hidden;
}

.category-box-layout1 .item-figure img {
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.category-box-layout1 .item-content {
	bottom: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	padding: 35px;
}

.category-box-layout1 .item-content .item-title {
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 5px;
}

.category-box-layout1 .item-content .item-title a {
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.category-box-layout1 .item-content .item-title:hover a {
	color: #ff4a52;
}

.category-box-layout1 .item-content .sub-title {
	color: #cccccc;
	font-size: 18px;
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 15px;
}

.category-box-layout1 .item-content .sub-title:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background-color: #ff4a52;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.category-box-layout1:hover:after {
	height: 100%;
	opacity: 1;
}

.category-box-layout1:hover .item-figure img {
	transform: scale(1.2);
}