.product-box-layout1 {
	background-color: #ffffff;
	margin-bottom: 3rem;
}

.product-box-layout1 .item-figure {
	margin-bottom: 0;
	overflow: hidden;
}

.product-box-layout1 .item-figure a {
	display: block;
}

.product-box-layout1 .item-figure img {
	-webkit-transform: rotate(0) scale(1);
	-ms-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.product-box-layout1 .item-content {
	text-align: center;
	padding: 25px 30px 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.product-box-layout1 .item-content {
		padding: 25px 0px 15px;
	}
}

@media only screen and (max-width: 767px) {
	.product-box-layout1 .item-content {
		padding: 25px 0px 15px;
	}
}

.product-box-layout1 .item-content {
	display: flex;
	flex-direction: column;
}

.product-box-layout1 .item-content .sub-title {
	color: #ff4a52;
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
	font-weight: 600;
}

.product-box-layout1 .item-content .item-title {
	flex: 0 0 50px;
	font-weight: 700;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product-box-layout1 .item-content .item-title a {
	color: #111111;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.product-box-layout1 .item-content .item-title:hover a {
	color: #ff4a52;
}

.product-box-layout1 .item-content .item-rating {
	margin-bottom: 10px;
}

.product-box-layout1 .item-content .item-rating li {
	display: inline-block;
}

.product-box-layout1 .item-content .item-rating li i {
	font-size: 14px;
}

.product-box-layout1 .item-content .item-rating li span {
	color: #444444;
	display: inline-block;
	margin-left: 8px;
}

.product-box-layout1 .item-content .item-rating li span span {
	color: #bebebe;
	margin-left: 0;
}

.product-box-layout1 .item-content .item-rating li.star-fill>i {
	color: #ffb300;
}

.product-box-layout1 .item-content .item-rating li.star-empty>i {
	color: #d9d9d9;
}

.product-box-layout1 .item-content p {
	margin-bottom: 15px;
}

.product-box-layout1 .item-content .entry-meta li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
}

.product-box-layout1 .item-content .entry-meta li:last-child {
	margin-right: 0;
}

.product-box-layout1 .item-content .entry-meta li a {
	color: #909090;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.product-box-layout1 .item-content .entry-meta li a span {
	color: #111111;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.product-box-layout1 .item-content .entry-meta li a i {
	margin-right: 10px;
	color: #ff4a52;
	font-size: 14px;
}

.product-box-layout1 .item-content .entry-meta li a:hover {
	color: #ff4a52;
}

.product-box-layout1 .item-content .entry-meta li a:hover span {
	color: #ff4a52;
}

.product-box-layout1:hover .item-figure {
	margin-bottom: 0;
}

.product-box-layout1:hover .item-figure img {
	-webkit-transform: rotate(5deg) scale(1.15);
	-ms-transform: rotate(5deg) scale(1.15);
	transform: rotate(5deg) scale(1.15);
}

.recipe-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.recipe-item .item-figure {
	flex: 0 0 200px;
	display: flex;
	flex-direction: column;
}

.recipe-item .item-figure img {
  min-height: 100%;
}
