.header-main-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.102);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.site-nav {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.site-menu {
	margin: 0;
	list-style: none;
}

.site-menu>li {
	margin-right: 10px;
	display: inline-block;
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.site-menu>li>a {
	display: block;
	padding: 18px 13px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1199px) {
	.site-menu>li>a {
		padding: 18px 10px;
	}
}

.site-menu>li>a:hover {
	color: #ff4a52;
}

.site-menu>li a.current {
	color: #ff4a52;
}

.site-menu>li a.current:after,
.site-menu>li a.current:before {
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.site-menu>li:first-child>a {
	padding: 18px 13px 18px 0;
}

.site-logo-mobile {
	display: flex;
	align-items: center;
}

.site-logo-desktop {
	text-align: center;
}

.nav-action-elements-layout1 ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.nav-action-elements-layout1 ul li {
	display: inline-block;
	margin-right: 15px;
}

.nav-action-elements-layout1 ul li:last-child {
	margin-right: 0;
}

.nav-action-elements-layout1 ul li .login-btn {
	background-color: transparent;
	cursor: pointer;
	box-shadow: none;
	border: none;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav-action-elements-layout1 ul li .login-btn i {
	margin-right: 10px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav-action-elements-layout1 ul li .login-btn:focus {
	outline: none;
}

.nav-action-elements-layout1 ul li .fill-btn {
	border-radius: 45px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 9px 20px 9px 15px;
	font-size: 13px;
	color: #ffffff;
	background-color: #ff4a52;
	font-weight: 600;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav-action-elements-layout1 ul li .fill-btn i {
	font-size: 15px;
	margin-right: 5px;
}

.nav-action-elements-layout1 ul li .fill-btn i:before {
	font-size: 15px;
}

.nav-action-elements-layout1 ul li .fill-btn:hover {
	background-color: #e92731;
}

.header-one .header-main-menu {
	background-color: #111111;
}

.header-one .header-main-menu .site-menu>li>a {
	color: #ffffff;
}

.header-one .header-main-menu .nav-action-elements-layout1 .login-btn {
	color: #ffffff;
}

.header-one .header-main-menu .nav-action-elements-layout1 .login-btn i {
	color: #ffffff;
}

.header-one .header-main-menu .nav-action-elements-layout1 .login-btn:hover {
	color: #ff4a52;
}

.header-one .header-main-menu .nav-action-elements-layout1 .login-btn:hover i {
	color: #ff4a52;
}

.hide-on-mobile-menu:after {
	display: none !important;
}

@media only screen and (min-width: 992px) {
	.mob-menu-open {
		display: none;
	}

	.hide-on-desktop-menu {
		display: none !important;
	}

	.site-logo-mobile {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	.header-main-menu {
		background: rgba(0, 0, 0, 0.9);
		z-index: 9999999;
		height: auto;
		padding: 10px 0;
	}

	.header-main-menu .site-logo-desktop {
		padding: 9px 0;
		max-width: 90px;
		z-index: 9999999;
	}

	.header-main-menu .site-nav {
		display: inherit;
		width: 100%;
	}

	.header-main-menu .site-nav .site-menu {
		padding: 10px 0 10px 0;
		clear: both;
		width: 100%;
	}

	.header-main-menu .site-nav .site-menu>li {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
		text-align: left;
	}

	.header-main-menu .site-nav .site-menu>li>a {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		padding: 15px 10px;
	}

	.header-main-menu .site-nav .site-menu>li>a:after,
	.header-main-menu .site-nav .site-menu>li>a:before {
		bottom: 0;
	}

	.header-main-menu .site-nav .site-menu>li>a:hover,
	.header-main-menu .site-nav .site-menu>li>a:focus {
		color: #ff4a52;
	}

	.header-main-menu .site-nav .site-menu:first-child>a {
		padding: 15px 10px;
	}

	.header-main-menu .nav-action-elements-layout1 {
		z-index: 2;
		right: 50px;
		top: -6px;
	}

	.header-main-menu .nav-action-elements-layout1 ul li .fill-btn {
		display: none;
	}

	.header-main-menu .mob-menu-open {
		z-index: 999999;
		right: 15px;
		display: block;
		top: 0;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.header-main-menu .mob-menu-open .bar {
		height: 2px;
		width: 30px;
		display: block;
		margin-bottom: 5px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.header-main-menu .mob-menu-open .bar:nth-child(2),
	.header-main-menu .mob-menu-open .bar:nth-child(3) {
		width: 25px;
		margin-left: 5px;
	}

	.header-main-menu .mob-menu-open .bar:last-child {
		margin-bottom: 0;
	}

	.header-main-menu .mob-menu-open.active .bar:nth-child(2),
	.header-main-menu .mob-menu-open.active .bar:nth-child(3) {
		opacity: 0;
	}

	.header-main-menu .mob-menu-open.active .bar:nth-child(1) {
		-webkit-transform: rotate(45deg) translate(7px, 7px);
		-ms-transform: rotate(45deg) translate(7px, 7px);
		transform: rotate(45deg) translate(7px, 7px);
	}

	.header-main-menu .mob-menu-open.active .bar:nth-child(4) {
		-webkit-transform: rotate(-45deg) translate(8px, -8px);
		-ms-transform: rotate(-45deg) translate(8px, -8px);
		transform: rotate(-45deg) translate(8px, -8px);
	}

	.site-logo-mobile {
		min-height: 34px;
		z-index: 10;
	}

	.site-logo-mobile .sticky-logo-light {
		display: inline-block;
	}

	.site-logo-mobile .sticky-logo-dark {
		display: none;
	}

	.hide-on-mobile-menu {
		display: none !important;
	}

	.header-one .header-main-menu .mob-menu-open .bar {
		background: #ffffff;
	}

	.header-one .header-main-menu .mob-menu-open .bar:nth-child(2),
	.header-one .header-main-menu .mob-menu-open .bar:nth-child(3) {
		background: #ffffff;
	}

	.header-main-menu.header-sticky::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #111111;
		z-index: 1;
	}

	.site-nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
		background-color: #111111;
    transition: all 0.5s;
		overflow: auto;
		z-index: -20;
  }
  
  .site-nav.active {
		top: 50px;
  }

  .site-menu {
    display: block;
		padding: 0 0 0 0;
  }

  .site-menu li {
    display: block;
		margin: 10px 10%;
  }

  .site-menu li a{
    padding: 20px 50px 20px 0;
  }

}

@media only screen and (max-width: 430px) {
	.header-main-menu .nav-action-elements-layout1 {
		top: 0;
	}
}