.widget-latest ul.block-list .single-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 20px;
}

.widget-latest ul.block-list .single-item:last-child {
	margin-bottom: 0;
}

.widget-latest ul.block-list .single-item .item-img {
  width: 100px;
	margin-right: 15px;
	margin-top: 5px;
	position: relative;
	overflow: hidden;
}

.widget-latest ul.block-list .single-item .item-img a {
	display: block;
}

.widget-latest ul.block-list .single-item .item-img a img {
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.widget-latest ul.block-list .single-item .item-img .count-number {
	color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	right: -5px;
	bottom: -5px;
	z-index: 3;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: rgba(255, 74, 82, 0.8);
}

.widget-latest ul.block-list .single-item .item-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.widget-latest ul.block-list .single-item .item-content .item-ctg {
	color: #ff4a52;
	font-weight: 600;
}

.widget-latest ul.block-list .single-item .item-content .item-title {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 8px;
	color: #111111;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.widget-latest ul.block-list .single-item .item-content .item-title a {
	color: #111111;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.widget-latest ul.block-list .single-item .item-content .item-title a:hover {
	color: #ff4a52;
}

.widget-latest ul.block-list .single-item .item-content .item-post-by {
	line-height: 1;
	font-size: 15px;
}

.widget-latest ul.block-list .single-item .item-content .item-post-by a {
	color: #111111;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.widget-latest ul.block-list .single-item .item-content .item-post-by a span {
	color: #909090;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.widget-latest ul.block-list .single-item .item-content .item-post-by a i {
	color: #ff4a52;
	margin-right: 10px;
}

@media only screen and (max-width: 1199px) {
	.widget-latest ul.block-list .single-item .item-content .item-post-by a i {
		margin-right: 5px;
	}
}

.widget-latest ul.block-list .single-item .item-content .item-post-by a:hover {
	color: #ff4a52;
}

.widget-latest ul.block-list .single-item .item-content .item-post-by a:hover span {
	color: #ff4a52;
}

.widget-latest ul.block-list .single-item:hover .item-img a img {
	transform: scale(1.2);
}